extends ../shared/layout
block content
  .container
    h5
      a(href="/tickets/") Search | 
      a(href="/tickets/new") Add
    .row
      each ticket in tickets_list
        //- -var escText = ticket.title
        .row.col.s12
          .col.s10.offset-s1
            .card
              .card-content.teal.lighten-5
                span.card-title
                  //- a(href=ticket.url) !{ticket.title}
                  a(href!=ticket.link target="_blank")!= ticket.title
                p(id=ticket._id) #{ticket.description}
              .card-action
                //TODO each loop in keywords, for the sorting functionalities later.
                span Keywords: #{ticket.keywords}
                a(href=ticket.url).teal-text.text-darken-2.right Edit
